<!DOCTYPE html>
<html>
    <head>
        <title>Colegio Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    </head>
    <body ng-app="colegioApp" ng-controller="colegioCtrl">
        <div class="container">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-5">{{nombreColegio}}</h1>
                    <p><a class="btn btn-primary" href="#" role="button" ng-click="listarProfesores()">Listar Profesores</a></p>
                </div>
            </div>    
            <div class="form-group" ng-show="showListaProfes">
                <label for="listaProfes">Listado de profesores</label>
              <select id="listaProfes" ng-model="selectedProfesor" ng-change="changeProfesor()" class="form-control">
                <option ng-repeat="x in datosResultado" value="{{x.nombre}}">
                    {{x.nombre}}
                </option>
              </select>
            </div>  
            <div  class="form-group" ng-show="showAsignaturas">         
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Materia</th>
                      <th scope="col">Curso</th>
                      <th scope="col">Estudiantes</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="x in datosListaAsigProf">
                      <th class="col-md-2" scope="row">{{$index+1}}</th>
                      <td class="col-md-5">{{x.asignaturaID.nombre}}</td>
                      <td class="col-md-4">{{x.asignaturaID.grado}} - {{x.asignaturaID.salon}}</td>
                      <td class="col-md-1">
                          <button type="button" class="btn btn-success" ng-click="verEstudiantes(x)">
                              <span>Ver</span>
                          </button>                          
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="modal fade" id="modalEstudiantes" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <table class="table">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Estudiante</th>
                                </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="x in datosEstudiantes">
                                  <th class="col-md-2" scope="row">{{$index+1}}</th>
                                  <td class="col-md-5">{{x.nombreEstudiante}}</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                           <button id="btn-aceptar" type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                        </div>                            
                    </div>
                </div>                    
            </div>            
        </div>        


        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"  crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"  crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>
        <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
        <script src="app/controllers/colegioCtrl.js"></script>

    </body>
</html>
